{% extends 'base.html' %}

{% block content %}
    {% for x in title %}
    <div class="accordion" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-{{ loop.index }}" aria-expanded="false" aria-controls="flush-collapseOne">
              {{ title[loop.index] }}
            </button>
          </h2>
          <div id="flush-collapseOne-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body"> 
                <p><strong>URL </strong> {{ url[loop.index] }} </p>
                <p><strong>Published Date </strong> {{ published_date[loop.index] }} </p>
                <p><strong>Updated Date </strong> {{ updated[loop.index] }} </p>
                <p><strong>Section </strong> {{ section[loop.index] }} </p>
                <p><strong>By Line </strong> {{ byline[loop.index] }} </p>
                <p><strong>Abstract </strong> {{ abstract[loop.index] }} </p>
                <p><strong>des_facet </strong> {{ des_facet[loop.index] }} </p>
                <p><strong>org_facet </strong> {{ org_facet[loop.index] }} </p>
                <p><strong>per_facet </strong> {{ per_facet[loop.index] }} </p>
                <p><strong>geo_facet </strong> {{ geo_facet[loop.index] }} </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock content %}